<div class="container-fluid login-space ">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 login-form">
      <form [formGroup]="changePasswordFormGroup" (submit)="changePassowrd()">
     
        
        
       <div class="mt-3">
         <label for="password">Fjalëkalimi i ri:</label>
         <input type="password" class="form-control login-input mb-1" placeholder="" name="password" formControlName="password" [ngClass]="{'is-invalid': (getChangePasswordForm.password.errors && submitted) || ( getChangePasswordForm.password.touched &&  getChangePasswordForm.password.errors)}">
         <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.password.errors?.required && submitted) || ( getChangePasswordForm.password.touched &&  getChangePasswordForm.password.errors?.required)">
            Ju lutemi vendosni fjalëkalimin
       </div>
       <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.password.errors?.minlength && submitted) || ( getChangePasswordForm.password.touched &&  getChangePasswordForm.password.errors?.minlength)">
           Fjalëkalimi duhet të jetë me 8 karaktere ose më i gjatë
       </div>
       <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.password.errors?.mustMatch && submitted) || ( getChangePasswordForm.password.touched &&  getChangePasswordForm.password.errors?.mustNotMatch)">
            Fjalëkalimi i ri nuk duhet të përputhet me fjalëkalimin e vjetër
       </div>
      </div>

     <div class="mt-3">
          <label for="password">Konfirmo fjalëkalimin:</label>
         <input type="password" class="form-control login-input mb-1" placeholder="" name="comparePassword" formControlName="comparePassword" [ngClass]="{'is-invalid': (getChangePasswordForm.comparePassword.errors && submitted) || ( getChangePasswordForm.comparePassword.touched &&  getChangePasswordForm.comparePassword.errors)}">
         <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.comparePassword.errors?.required && submitted) || ( getChangePasswordForm.comparePassword.touched &&  getChangePasswordForm.comparePassword.errors?.required)">
            Ju lutemi vendosni fjalëkalimin
       </div>
       <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.comparePassword.errors?.minlength && submitted) || ( getChangePasswordForm.comparePassword.touched &&  getChangePasswordForm.comparePassword.errors?.minlength)">
            Fjalëkalimi duhet të jetë me 8 karaktere ose më i gjatë
       </div>
       <div class="invalid-feedback"
         *ngIf="(getChangePasswordForm.comparePassword.errors?.mustMatch && submitted) || ( getChangePasswordForm.comparePassword.touched &&  getChangePasswordForm.comparePassword.errors?.mustMatch)">
            Fjalëkalimet nuk përputhen
       </div>
     </div>
     <div class="form-group">
       <label for=""></label>
     </div>
     <input class="btn  btn-apply float-right" style="margin-top: -20px" type="submit" value="Ndrysho">
    </form>
    </div>
  </div>
</div>