<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row mt-3 mb-3">
          <div class="col-3">
            <input type="text" class="form-control hajde-input" placeholder="Emri dhe mbiemri">
          </div>
          <div class="col-3">
            <select class="custom-select hajde-input hajde-select">
              <option selected>Statusi</option>
              <option value="active">Aktiv</option>
              <option value="deactive">Jo Aktiv</option>
            </select>
          </div>
          <div class="col-6">
            <div class="float-right">
              <button class="btn" [routerLink]="['add']">
                Shto shpërndarës
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Emri dhe mbiemri
              </th>
              <th>
               Numri i telefonit
              </th>
              <th>
                Statusi
               </th>
              <th>
                Regjisturar më
              </th>
              <th class="text-right">
              </th>
            </thead>
            <tbody>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                044-123-123
                </td>
                <td>
                 Aktive
                </td>
                <td>
                  10-11-2020
                 </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2" [routerLink]="['1234','edit']">Ndrysho</button>
                  <button class="btn btn-sm btn-secondary mr-2">Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary">Fshi</button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>