<div class="row">
  <div class="col-12 mb-2">
    <h5>Porositë</h5>
  </div>
</div>

<div *ngIf="restaurantStatus !== null" class="d-flex flex-row-reverse">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="ml-5">Statusi i restaurantit</div>
    <div class="custom-control custom-switch d-flex">
      <label class="custom-control mx-3" for="customSwitch1">Inaktiv</label>
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="restaurantStatus" (change)="restaurantStatusChange()">
      <label class="custom-control-label mx-4" for="customSwitch1">Aktiv</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <input type="date" name="fromDate"  class="form-control hajde-input mb-3" [(ngModel)]="fromDate">
  </div>
  <div class="col-3">
    <input type="date" name="toDate" [disabled]="!fromDate"  class="form-control hajde-input mb-3" [(ngModel)]="toDate" (change)="search()">
  </div>
  <div class="col-3">
    <button class="btn btn-sm btn-primary btn-clear" *ngIf="fromDate && toDate"  (click)="clearQuery()">Pastro</button>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" (click)="export()">Eksporto</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri total i porosive</p>
              <p class="card-title">{{totalOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <br>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri i porosive në pritje</p>
              <p class="card-title">{{pendingOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri i porosive në progres</p>
              <p class="card-title">{{inProgessOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri i porosive të kompletuar</p>
              <p class="card-title">{{completedOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri i porosive të refuzuar</p>
              <p class="card-title">{{rejctedOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-box-2 text-secondary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Numri i porosive me probleme</p>
              <p class="card-title">{{issueOrders}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Shuma totale e fituar nga porositë</p>
              <p class="card-title">{{revenue | currency: currencyType:'symbol':'1.2':'fr'}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
      </div>
    </div>
  </div>
  
</div>

