<div class="container-fluid login-space ">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 login-form">
      <form [formGroup]="forgotPasswordForm" (submit)="forgotPassword()">
        <div class="form-group">
          <label for="exampleInputEmail1">Email adresa</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" formControlName="email" [ngClass]="{'is-invalid': (getforgotPasswordFormGroup.email?.errors && submittedLogin) || ( getforgotPasswordFormGroup.email?.touched &&  getforgotPasswordFormGroup.email?.errors)}"> 
          <div class="invalid-feedback"
              *ngIf="(getforgotPasswordFormGroup.email?.errors?.required && submittedLogin) || ( getforgotPasswordFormGroup.email?.touched &&  getforgotPasswordFormGroup.email?.errors?.required)">
                  Ju lutemi vendosni e-mail adresën
          </div>  
          <div class="invalid-feedback"
               *ngIf="(getforgotPasswordFormGroup.email?.errors?.email && submittedLogin) || ( getforgotPasswordFormGroup.email?.touched &&  getforgotPasswordFormGroup.email.errors?.email)" [ngClass]="{'is-invalid': (getforgotPasswordFormGroup.email?.errors && submittedLogin) || ( getforgotPasswordFormGroup.email?.touched &&  getforgotPasswordFormGroup.email?.errors)}">
               Ju lutemi vendosni një e-mail të vlefshëm
          </div>   
        </div>
        <button type="submit" class="btn btn-primary hajde-btn" >Dërgo</button>
      </form>
      <div class="alert alert-danger w-100" role="alert" *ngIf="errorMessage">
        {{errorMessage }}
      </div>
    </div>
  </div>
</div>