


.login-form {
  margin-top: 10%;
  border-radius: 5%;
  padding: 2em;
  background-color: #f4f3ef;
  -webkit-box-shadow: 3px 3px 5px 6px #cccccc4f;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #cccccc4f;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #cccccc4f;  
  
}

.hajde-btn {
  background-color: #6d6d6d !important;
}

.forgot-link {
  color: #6d6d6d !important
}