<div *ngIf="!loading">
    <div style="display: grid; place-items: center; margin-top: 20rem;">
        <app-spinner></app-spinner>
    </div>
</div>
<div *ngIf="loading">
    <div class="row">
        <div class="col-md-12">

            <h3>Zonat</h3>

            <div class="card">
                <div class="col-12">
                    <div class="float-right">
                        <button class="btn btn-primary" [routerLink]="['create']">Krijo nje zone te re</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>Zona</th>
                                <th>
                                    Emri
                                </th>
                                <th>
                                    Qyteti
                                </th>
                                <th>
                                    Shteti
                                </th>
                                <th class="text-right">
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let zone of zones; let i = index;">
                                    <td>
                                        <span>{{i}}</span>
                                    </td>
                                    <td>
                                        <span>{{zone.name}}</span>
                                    </td>
                                    <td>
                                        <span>{{zone.city}}</span>
                                    </td>
                                    <td>
                                        <span>{{zone.country}}</span>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-sm btn-secondary mr-2"
                                            [routerLink]="[zone._id,'edit']">Krijo Mapping</button>
                                        <button class="btn btn-sm btn-danger" (click)="delete(zone._id)">Fshi</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>