<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row mt-3 mb-3">
          <div class="col-3">
            <input type="text" class="form-control hajde-input" placeholder="Emri dhe mbiemri" [(ngModel)]="name" (keyup)="search()">
          </div>
          <div class="col-3">
            <input type="text" class="form-control hajde-input" placeholder="Telefoni" [(ngModel)]="phone" (keyup)="search()">
          </div>
          <div class="col-3">
            <select class="custom-select hajde-input hajde-select" [(ngModel)]="status"  (change)="changeStatus()">
              <option value="">Statusi</option>
              <option value="true">Aktiv</option>
              <option value="false">Jo Aktiv</option>
            </select>
          </div>
          <div class="col-3">
            <div class="float-right"> 
               <button class="btn btn-primary" (click)="exportClients()">Eksporto</button>
             </div>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Emri dhe mbiemri
              </th>
              <th>
                Adresa
              </th>
              <th>
                Telefoni
              </th>
              <th>
                Statusi
              </th>
              <th>
                Regjistruar më
              </th>
              <th class="text-right">
              
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients">
                <td>
                 {{client.fullName}}
                </td>
                <td>
                  <div *ngIf="client.addresses.length > 0">
                    <select style="max-width: 25rem;">
                      <option 
                        *ngFor="let address of client.addresses"
                        [value]="address._id"
                        [selected]="address.isDefault">
                          {{address.street + ' - ' + address.city + ', ' + address.country}}
                      </option>
                  </select>
                  </div>
                 </td>
                <td>
                  {{client.phone}}
                </td>
                <td>
                  {{client.isActive ? 'Aktiv' : 'Jo Aktiv'}}
                </td>
                <td>
                  {{client.createdAt | date:'dd.MM.yyyy'}}
                </td>
                <td class="text-right">
                  <button class="btn btn-sm btn-secondary mr-2"  *ngIf="!client.isActive"  (click)="activate(client._id)" >Aktivizo</button>
                  <button class="btn btn-sm btn-secondary mr-2"  *ngIf="client.isActive"  (click)="deactivate(client._id)" >Deaktivizo</button>
                  <button class="btn btn-sm btn-secondary" (click)="delete(client._id)">Fshi</button>
                </td>
              </tr>
              <tr *ngIf="clients?.length ==0">
                <td colspan="5" class="text-center">
                  Nuk ka të dhana
                </td>
              </tr>  
                    
            </tbody>
          </table>
          <div class="row mt-2" *ngIf="pages > 1">
            <div class="col-12">
              <div class="float-right mr-3">
                <ul class="my-pagination">
                  <li>
                    <a class="page-link"  aria-label="Previous" (click)="prevPage($event)">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Prev</span>
                    </a>
                  </li>
                  <li> <input type="text" name="" id="" [disabled]="pages === 1"  (keyup)="changePage($event)" [(ngModel)]="currentPage">
                    <p> / {{pages}}</p>
                  </li>
                  <li>
                    <a class="page-link"  aria-label="Next" (click)="nextPage($event)">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
