.hajde-select {
  height: 31px;
  font-size: 13px;

}

.hajde-input {
  width: 210px;
}

.my-pagination {
  margin-top: 25px;
}

.my-pagination > li{
 display: inline;
}

.my-pagination > li > .page-link {
  width: 35px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.my-pagination > li > p {
  display: inline;
}
.my-pagination > li > input {
  width: 50px;
  display: inline;
}